Net "clk" loc="p76";
Net "sw[0]" loc="p27";
Net "sw[1]" loc="p28";
Net "sw[2]" loc="p24";
Net "sw[3]" loc="p26";
Net "sw[4]" loc="p21";
Net "sw[5]" loc="p22";
Net "sw[6]" loc="p19";
Net "sw[7]" loc="p20";

Net "go" loc="p9";
Net "rst" loc="p10";


Net "result[0]" loc="p139";
Net "result[1]" loc="p140";
Net "result[2]" loc="p137";
Net "result[3]" loc="p138";
Net "result[4]" loc="p133";
Net "result[5]" loc="p135";
Net "result[6]" loc="p131";
Net "result[7]" loc="p132";
Net "result[8]" loc="p149";
Net "result[9]" loc="p150";
Net "result[10]" loc="p147";
Net "result[11]" loc="p148";
Net "result[12]" loc="p144";
Net "result[13]" loc="p146";
Net "result[14]" loc="p141";
Net "result[15]" loc="p143";